#canvas {
  /*set fixed width and height for what you actually want in css!*/
  /*should be the same as what's passed into canvas element*/
  width: 600px;
  height: 400px;

  position: fixed;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
